.history
.vscode
assets/
public/
typings/
.babelrc
.editorconfig
.gitignore
.prettierignore
.prettierrc.js
env.js
next.config.js
next-env.d.ts
package.json
README.md
tsconfig.json
yarn.lock
**/*.md
**/*.svg
