.searchWrapper {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px 0;
}

.searchTitle {
  font-size: 16px;
  padding: 0 20px 16px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.formWrapper {
  padding: 0 20px;
}
