.homeWrapper {
  display: flex;
}

.homeBox {
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px 0;
  flex: 1;
  height: min-content;
}

.homeLeft {
  margin-right: 20px;
}

.homeLeftTitle {
  padding: 0 20px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  span {
    cursor: pointer;
    color: #409eff;
  }
}

.homeLeftListItem {
  padding: 0 20px;
  margin-top: 20px;
  span {
    cursor: pointer;
    color: #409eff;
  }
}

.projectDesc {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
